.generator {
    overflow: hidden;
    min-height: 215px; /* Đặt min-height thay vì height cố định */
    transition: height 0.2s;
}

.generator h1 {
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    color: #333;
}

.generator p {
    color: #555;
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
}

.generator-form {
    margin: 20px 0;
}

.generator-form input {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 18px;
    padding: 0 15px;
    transition: border-color 0.3s ease;
}

.generator-form input:focus {
    border-color: #0283d8;
}

.generator-form button {
    width: 100%;
    height: 55px;
    background: #0283d8;
    color: #fff;
    font-size: 17px;
    margin-top: 28px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.generator-form button:hover {
    background-color: #026bb3;
}

.generator-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px dashed #555;
    margin-top: 20px;
    transition: border-color 0.3s ease;
}

.generator-img img {
    width: 200px;
    height: 200px;
}

.generator-btn {
    text-align: center;
    margin-top: 20px;
}

.generator-btn .btn-link {
    background: transparent;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 0.8rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.generator-btn .btn-link:hover {
    background: rgba(50, 118, 245, 0.1);
    border-color: #0283d8;
    padding: 10px 25px;
}
